* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	color: #655A56;
	background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh
}

.loader {
	margin: 30px auto;
	text-align: center;
}

.loader svg {
	height: 80px;
	width: 80px;
	fill: #F59A83;
	transform-origin: 44% 50%;
	animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
	0%{
		transform: rotate(0); 
	}
	100% {
		transform: rotate(360deg);
	}
}

.container {
	width: 80%;
	margin: 40px auto;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0px 8px 23px 7.5px rgba(101, 90, 86, 0.2);
}

.columns {
	position: relative;
	min-height: 80vh;
}

.btn {
	padding: 8px 20px;
	background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
	border-radius: 30px;
	border: none;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all .3s;
	font-size: 16px;
}

.btn:hover {
	transform: scale(1.05);
}

.btn svg {
    height: 30px;
    width: 30px;
    fill: currentColor;
    padding-right: 5px;
}

.header {
	background-color: #F9F5F3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 6px 6px 0 0;
	padding: 20px 35px;
}

.header__logo {
	height: 60px;
	display: block;
}

.search {
	background-color: #fff;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding-left: 30px;
	transition: all .3s;
}

.search__field {
	border: none;
	font-family: inherit;
	color: inherit;
	font-size: 18px;
	width: 320px;
}

.likes {
	position: relative;
}

.likes__field {
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 100%;
	transition: all .3s;
	transform: scale(1.5);
}

.likes__field:hover {
	 background-color: #F2EFEE;
}

.likes__icon {
	fill: #F59A83;
	height: 35px;
	width: 35px;
	padding: 15px;
}

.likes__panel {
	position: absolute;
	right: -35px;
	top: 85px;
	z-index: 10;
	padding: 15px 0;
	width: 350px;
	background-color: #fff;
	box-shadow: 0 10px 30px 2px rgba(101, 90, 86, 0.1);
	visibility: hidden;
	opacity: 0;
	transition: all .3s;
}

.likes__panel:hover,
.likes__field:hover + .likes__panel {
	visibility: visible;
	opacity: 1;
}

.results {
	width: 39%;
	padding: 30px 0;
	display: inline-block;
}

.results__link,
.likes__link {
	display: flex;
	align-items: center;
	padding: 10px 0 10px 35px;
	text-decoration: none;
	transition: all .3s;
}

.results__link:hover,
.likes__link:hover {
	background-color: #F9F5F3;
	transform: translateY(-2px); 
}

.results__link--active,
.likes__link--active {
	background-color: #F9F5F3; 
}

.results__fig img {
	border-radius: 50%;
	height: 80px;
	width: 80px;
	margin-right: 20px;
}

figure.likes-fig img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-right: 20px;
}

.results__name,
.likes__name {
	color: #F59A83;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}

.results__author,
.likes__author {
	font-size: 12px;
	color: #968B87;
	text-transform: uppercase;
	font-weight: 600;
}

.results__pages {
	display: flex;
	justify-content: center;
}

.btn-inline {
	color: #F59A83;
	background-color: #F9F5F3;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 20px;
}

.btn-inline svg {
    height: 35px;
    width: 35px;
    fill: currentColor;
    margin: 0 15px;
}

.btn-inline:hover {
	color: #F48982;
	background-color: #F2EFEE;
}

.recipe {
	overflow: auto;
	width: 60%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #F9F5F3
}

.recipe__fig {
	height: 300px;
	position: relative;
}

.recipe__img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

.recipe__fig::before {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
	opacity: .4; 
}

.recipe__title {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 20%) skewY(-6deg);
	color: #fff;
	font-weight: 700;
	font-size: 26px;
	text-transform: uppercase;
	width: 70%;
	text-align: center;
	line-height: 1.95;
}

.recipe__title span {
	-webkit-box-decoration-break: clone;
    box-decoration-break: clone;
	padding: 10px 15px;
	background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
}

.recipe__details {
    display: flex;
    align-items: center;
    padding: 70px 20px 20px 20px; 
}

.ricipe__info {
	font-size: 16px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.recipe__info-icon {
	height: 35px;
	width: 35px;
	fill: #F59A83;
	margin-right: 10px;
}

.recipe__info-data {
	font-weight: 600;
	margin-right: 5px;
}

.recipe__love {
	background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.recipe__love svg {
	fill: #fff;
	width: 35px;
	height: 35px
}

.recipe__love:hover {
    transform: scale(1.07); 
}

.recipe__ingredients {
	background-color: #F2EFEE;
	padding: 20px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recipe__ingredients-list {

}

.recipe__item {
	display: flex;
	margin-bottom: 20px;
}

.recipe__icon {
	height: 15px;
	width: 15px;
	fill: #F59A83;
	border: 1px solid #F59A83;
	border-radius: 50%;
	padding: 2px;
	margin-right: 10px; 
}

.recipe__count {
	margin-right: 5px;
}

